on:
  push:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v3

    - name: "login to DockerHub "
      run: docker login --username ${{ secrets.USERNAME }} --password ${{ secrets.PASSWORD }}

    - name: "Building Image"
      run: docker build -t ${{secrets.USERNAME}}/my-python-img:latest .

    - name: "Pushing to DockerHub"
      run: docker push ${{secrets.USERNAME}}/my-python-img:latest
